
.vs/config/applicationhost.config
.vs/AutoCareApp/v15/Server/sqlite3/storage.ide-wal
.vs/AutoCareApp/v15/Server/sqlite3/storage.ide-shm
.vs/AutoCareApp/v15/Server/sqlite3/storage.ide
.vs/AutoCareApp/v15/Server/sqlite3/db.lock
.vs/AutoCareApp/v15/.suo
AutoCareApp/obj/Debug/AutoCareApp.pdb
AutoCareApp/obj/Debug/AutoCareApp.dll
AutoCareApp/obj/Debug/AutoCareApp.csprojAssemblyReference.cache
AutoCareApp/obj/Debug/AutoCareApp.csproj.FileListAbsolute.txt
AutoCareApp/obj/Debug/AutoCareApp.csproj.CoreCompileInputs.cache
AutoCareApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoCareApp/obj/Debug/AutoCareApp.pdb
AutoCareApp/obj/Debug/AutoCareApp.dll
AutoCareApp/obj/Debug/AutoCareApp.csprojAssemblyReference.cache
AutoCareApp/obj/Debug/AutoCareApp.csproj.FileListAbsolute.txt
AutoCareApp/obj/Debug/AutoCareApp.csproj.CoreCompileInputs.cache
AutoCareApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoCareApp/obj/Debug/AutoCareApp.pdb
AutoCareApp/obj/Debug/AutoCareApp.dll
AutoCareApp/obj/Debug/AutoCareApp.csprojAssemblyReference.cache
AutoCareApp/obj/Debug/AutoCareApp.csproj.FileListAbsolute.txt
AutoCareApp/obj/Debug/AutoCareApp.csproj.CoreCompileInputs.cache
packages/Respond.1.2.0/content/Scripts/respond.js
packages/Respond.1.2.0/content/Scripts/respond.min.js
packages/WebGrease.1.5.2/tools/install.ps1
packages/WebGrease.1.5.2/tools/uninstall.ps1
AutoCareApp/bin/AutoCareApp.dll.config
AutoCareApp/bin/AutoCareApp.pdb
AutoCareApp/bin/AutoCareApp.dll
AutoCareApp/AutoCareApp.csproj.user
AutoCareApp/obj/Debug/AutoCareApp.csprojAssemblyReference.cache
AutoCareApp/obj/Debug/AutoCareApp.csproj.FileListAbsolute.txt
AutoCareApp/obj/Debug/AutoCareApp.csproj.CoreCompileInputs.cache
AutoCareApp/AutoCareApp.csproj.user
AutoCareApp/bin/AutoCareApp.pdb
AutoCareApp/bin/AutoCareApp.dll
AutoCareApp/bin/AutoCareApp.dll.config
AutoCareApp/obj/Debug/AutoCareApp.dll
AutoCareApp/obj/Debug/AutoCareApp.pdb
AutoCareApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoCareApp/packages.config
packages/Respond.1.2.0/content/Scripts/respond.js
packages/Respond.1.2.0/content/Scripts/respond.min.js
packages/WebGrease.1.5.2/tools/install.ps1
packages/WebGrease.1.5.2/tools/uninstall.ps1
AutoCareApp/obj/Debug/Tsc.out
AutoCareApp/obj/Debug/AutoCareApp.pdb
AutoCareApp/obj/Debug/AutoCareApp.dll
AutoCareApp/obj/Debug/AutoCareApp.csproj.FileListAbsolute.txt
AutoCareApp/obj/Debug/AutoCareApp.csproj.CoreCompileInputs.cache
AutoCareApp/bin/AutoCareApp.pdb
AutoCareApp/bin/AutoCareApp.dll
AutoCareApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoCareApp/obj/Debug/AutoCareApp.pdb
AutoCareApp/obj/Debug/AutoCareApp.dll
AutoCareApp/obj/Debug/AutoCareApp.csprojResolveAssemblyReference.cache
AutoCareApp/obj/Debug/AutoCareApp.csproj.FileListAbsolute.txt
AutoCareApp/obj/Debug/AutoCareApp.csproj.CoreCompileInputs.cache
AutoCareApp/packages.config
AutoCareApp/obj/Debug/AutoCareApp.csproj.CoreCompileInputs.cache
AutoCareApp/obj/Debug/AutoCareApp.csproj.CoreCompileInputs.cache
AutoCareApp/obj/Debug/AutoCareApp.csproj.FileListAbsolute.txt
AutoCareApp/obj/Debug/AutoCareApp.csprojResolveAssemblyReference.cache
AutoCareApp/obj/Debug/AutoCareApp.dll
AutoCareApp/obj/Debug/AutoCareApp.pdb
AutoCareApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoCareApp/packages.config
AutoCareApp/AutoCareApp.csproj.user
AutoCareApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoCareApp/obj/Debug/AutoCareApp.pdb
AutoCareApp/obj/Debug/AutoCareApp.dll
AutoCareApp/obj/Debug/AutoCareApp.csproj.CoreCompileInputs.cache
AutoCareApp/AutoCareApp.csproj.user
AutoCareApp/App_Data/AutoCareDB.mdf
AutoCareApp/App_Data/AutoCareDB_log.ldf
AutoCareApp/AutoCareApp.csproj
AutoCareApp/bin/AutoCareApp.dll
AutoCareApp/bin/AutoCareApp.dll.config
AutoCareApp/bin/AutoCareApp.pdb
AutoCareApp/bin/itextsharp.dll
AutoCareApp/bin/itextsharp.xmlworker.dll
AutoCareApp/bin/Newtonsoft.Json.dll
AutoCareApp/bin/Newtonsoft.Json.xml
AutoCareApp/bin/PayPal.dll
AutoCareApp/bin/PayPal.xml
AutoCareApp/NewBooking.aspx
AutoCareApp/NewBooking.aspx.cs
AutoCareApp/NewBooking.aspx.designer.cs
AutoCareApp/obj/Debug/AutoCareApp.csproj.CoreCompileInputs.cache
AutoCareApp/obj/Debug/AutoCareApp.csproj.FileListAbsolute.txt
AutoCareApp/obj/Debug/AutoCareApp.csprojResolveAssemblyReference.cache
AutoCareApp/obj/Debug/AutoCareApp.dll
AutoCareApp/obj/Debug/AutoCareApp.pdb
AutoCareApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoCareApp/obj/Debug/Tsc.out
packages/Newtonsoft.Json.7.0.1/.signature.p7s
packages/Newtonsoft.Json.7.0.1/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.7.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.7.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.7.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.7.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.7.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/portable-net45+wp80+win8+wpa81+dnxcore50/Newtonsoft.Json.dll
packages/Newtonsoft.Json.7.0.1/lib/portable-net45+wp80+win8+wpa81+dnxcore50/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/Newtonsoft.Json.7.0.1.nupkg
packages/Newtonsoft.Json.7.0.1/tools/install.ps1
packages/PayPal.1.9.1/.signature.p7s
packages/PayPal.1.9.1/lib/net40/PayPal.dll
packages/PayPal.1.9.1/lib/net40/PayPal.xml
packages/PayPal.1.9.1/lib/net45/PayPal.dll
packages/PayPal.1.9.1/lib/net45/PayPal.xml
packages/PayPal.1.9.1/lib/net451/PayPal.dll
packages/PayPal.1.9.1/lib/net451/PayPal.xml
packages/PayPal.1.9.1/PayPal.1.9.1.nupkg
