
.vs/config/applicationhost.config
.vs/AutoCareApp/v15/Server/sqlite3/storage.ide-wal
.vs/AutoCareApp/v15/Server/sqlite3/storage.ide-shm
.vs/AutoCareApp/v15/Server/sqlite3/storage.ide
.vs/AutoCareApp/v15/Server/sqlite3/db.lock
.vs/AutoCareApp/v15/.suo
AutoCareApp/obj/Debug/AutoCareApp.pdb
AutoCareApp/obj/Debug/AutoCareApp.dll
AutoCareApp/obj/Debug/AutoCareApp.csprojAssemblyReference.cache
AutoCareApp/obj/Debug/AutoCareApp.csproj.FileListAbsolute.txt
AutoCareApp/obj/Debug/AutoCareApp.csproj.CoreCompileInputs.cache
AutoCareApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoCareApp/obj/Debug/AutoCareApp.pdb
AutoCareApp/obj/Debug/AutoCareApp.dll
AutoCareApp/obj/Debug/AutoCareApp.csprojAssemblyReference.cache
AutoCareApp/obj/Debug/AutoCareApp.csproj.FileListAbsolute.txt
AutoCareApp/obj/Debug/AutoCareApp.csproj.CoreCompileInputs.cache
AutoCareApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoCareApp/obj/Debug/AutoCareApp.pdb
AutoCareApp/obj/Debug/AutoCareApp.dll
AutoCareApp/obj/Debug/AutoCareApp.csprojAssemblyReference.cache
AutoCareApp/obj/Debug/AutoCareApp.csproj.FileListAbsolute.txt
AutoCareApp/obj/Debug/AutoCareApp.csproj.CoreCompileInputs.cache
packages/Respond.1.2.0/content/Scripts/respond.js
packages/Respond.1.2.0/content/Scripts/respond.min.js
packages/WebGrease.1.5.2/tools/install.ps1
packages/WebGrease.1.5.2/tools/uninstall.ps1
AutoCareApp/bin/AutoCareApp.dll.config
AutoCareApp/bin/AutoCareApp.pdb
AutoCareApp/bin/AutoCareApp.dll
AutoCareApp/AutoCareApp.csproj.user
AutoCareApp/obj/Debug/AutoCareApp.csprojAssemblyReference.cache
AutoCareApp/obj/Debug/AutoCareApp.csproj.FileListAbsolute.txt
AutoCareApp/obj/Debug/AutoCareApp.csproj.CoreCompileInputs.cache
AutoCareApp/AutoCareApp.csproj.user
AutoCareApp/bin/AutoCareApp.pdb
AutoCareApp/bin/AutoCareApp.dll
AutoCareApp/bin/AutoCareApp.dll.config
AutoCareApp/obj/Debug/AutoCareApp.dll
AutoCareApp/obj/Debug/AutoCareApp.pdb
AutoCareApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoCareApp/packages.config
packages/Respond.1.2.0/content/Scripts/respond.js
packages/Respond.1.2.0/content/Scripts/respond.min.js
packages/WebGrease.1.5.2/tools/install.ps1
packages/WebGrease.1.5.2/tools/uninstall.ps1
AutoCareApp/obj/Debug/Tsc.out
AutoCareApp/obj/Debug/AutoCareApp.pdb
AutoCareApp/obj/Debug/AutoCareApp.dll
AutoCareApp/obj/Debug/AutoCareApp.csproj.FileListAbsolute.txt
AutoCareApp/obj/Debug/AutoCareApp.csproj.CoreCompileInputs.cache
AutoCareApp/bin/AutoCareApp.pdb
AutoCareApp/bin/AutoCareApp.dll
