
.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

.error{
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.morecontent span {
    display: none;
}

#popover-password .progress {
    height: 5px;
}

.list-unstyled .fa-file-text {
    color: #edda39;
}

.alert {
    position: fixed;
    left: 30%;
    width: 40%;
    z-index: 99;
}


#wizHeader li .prevStep {
    background-color: #172b4d;
}

    #wizHeader li .prevStep:after {
        border-left-color: #172b4d !important;
    }

#wizHeader li .currentStep {
    background-color: #172b4d;
}

    #wizHeader li .currentStep:after {
        border-left-color: #172b4d !important;
    }

#wizHeader li .nextStep {
    background-color: #C2C2C2;
}

    #wizHeader li .nextStep:after {
        border-left-color: #C2C2C2 !important;
    }

#wizHeader {
    list-style: none;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif;
    margin: 0px;
    padding: 0px;
}

    #wizHeader li {
        float: left;
        width: 25%;
    }

        #wizHeader li a {
            color: white;
            text-decoration: none;
            padding: 10px 0 10px 55px;
            background: brown; /* fallback color */
            background: #172b4d;
            position: relative;
            display: block;
            float: left;
            width: 100%;
        }

            #wizHeader li a:after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                border-bottom: 50px solid transparent;
                border-left: 30px solid #172b4d;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                left: 100%;
                z-index: 2;
            }

            #wizHeader li a:before {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent;
                border-bottom: 50px solid transparent;
                border-left: 30px solid white;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                margin-left: 1px;
                left: 100%;
                z-index: 1;
            }

        #wizHeader li:first-child a {
            padding-left: 10px;
        }

        #wizHeader li:last-child {
            padding-right: 50px;
        }

        #wizHeader li a:hover {
            background: #7e8796;
        }

            #wizHeader li a:hover:after {
                border-left-color: #7e8796 !important;
            }


.invisible{
    visibility: hidden;
}

.bronze {
    background: linear-gradient(87deg,#9a813c 0,#b18c04 100%) !important;
    color: white;
}
.gold {
    background: linear-gradient(87deg,#efcf76 0,#c1a12c 100%) !important;
    color: white;
}
.silver {
    background: linear-gradient(87deg,#cac4b6 0,#ceccc9 100%) !important;
    color: white;
}
.platinum {
    background: linear-gradient(87deg,#a5a5a5 0,#525252 100%) !important;
    color: white;
}


.testimonial-reel {
    margin-bottom: 4rem !important;
    margin-top: 4rem;
}

.testimonial-reel .box {
    position: relative;
    margin-bottom: 30px;
}

.testimonial-reel .box .image {
    margin: 0 auto -45px;
    text-align: center;
}

.testimonial-reel .box .image img {
    height: 130px;
    margin: 0 auto;
}

.testimonial-reel .box .test-component {
    background-color: #fff;
    padding: 1rem 2.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    min-height: 200px;
}

.testimonial-reel .box .test-title {
    font-family: "Open Sans", sans-serif;
    color: #f96d02;
    text-align: center;
    margin-top: 3.3rem;
    margin-bottom: 15px;
}

.testimonial-reel .box .test-content {
    text-align: center;
}

.testimonial-reel .slick-slide {
    opacity: 0.3;
    transition: opacity 0.3s;
    padding-left: 1rem;
    padding-right: 1rem;
}

.testimonial-reel .slick-slide.slick-cloned {
    opacity: 0.3;
    transition: opacity 0.3s;
}

.testimonial-reel .slick-slide.slick-current.slick-active {
    opacity: 1;
    transition: opacity 0.3s;
}

.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
    word-wrap: normal;
}
.star-ratings-css-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}
.star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
}


.table-responsive .wrap-cell {
    white-space: normal;
    display: block;
    width: 500px;
}